.btn-blue {
	background-color: #abc4ff;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.btn-blue:hover {
	background-color: #8093f1;
}

.button {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.button:hover {
  color: rgb(130,130,130);
}
